<div class="card phone-card border-0 mt-2">
  <div class="d-flex justify-content-start align-items-center ml-3">
    <p class="mx-3 text-center mt-3">
      {{ phone.split(': ')[1] }}
    </p>
    <button 
      type="button" 
      class="btn btn-outline-primary border-0"
      title="Edit phone number"
    >
      <i class="bi-pencil-square"></i>
    </button>
    <button 
      type="button"
      class="btn btn-outline-danger border-0"
      title="Delete phone number"
    >
      <i class="bi-trash"></i>
    </button>
  </div>
</div>