<div class="card phone-card border-0 mt-2">
  <div class="d-flex justify-content-start align-items-center ml-3">
    <div *ngIf="showFormEditPhone == false;then info_phone else edit_phone"></div>
    <ng-template #info_phone>
      <p class="mx-3 text-center mt-3">
        {{ phone.split(': ')[1] }}
      </p>
    </ng-template>
    <ng-template #edit_phone>
      <form [formGroup]="editPhone" (ngSubmit)="onSubmit()">
        <div class="input-group d-flex mb-3 align-items-start">
          <div class="d-flex flex-column">
            <div style="width: 220px" class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">+</span>
              </div>
              <input 
                id="phone"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                class="form-control" 
                aria-label="Phone Number" 
                aria-describedby="basic-addon1"
                formControlName="phone"
                type="number" 
                maxlength="13"
              >
            </div>
            <p class="tip">Ex.: 55 98 9 98765432 (13 digits)</p>
          </div>
          <button 
            type="button" 
            (click)="toogleForm()"
            class="btn btn-outline-danger border-0"
            title="Cancel"
          >
            <i class="bi-x-lg"></i>
          </button>
          <button 
            type="submit"
            class="btn btn-outline-success border-0"
            title="Edit phone number"
          >
            <i class="bi-save"></i>
          </button>
        </div>
      </form>
    </ng-template>
    <div *ngIf="!showFormEditPhone">
      <button 
        type="button" 
        (click)="toogleForm()" 
        class="btn btn-outline-primary border-0"
        title="Edit phone number"
      >
        <i class="bi-pencil-square"></i>
      </button>
      <button 
        type="button"
        class="btn btn-outline-danger border-0"
        title="Delete phone number"
      >
        <i class="bi-trash"></i>
      </button>
    </div>
  </div>
</div>